/** Main styling for the site **/
body {
  font-family: lugrasimo-regular;
  margin: 0 auto;
  padding: 1rem;
  background: #111;
  color: #eee;
  text-align: center
}

p {
    font-size: x-large;
}

/** Text alignment and display formating **/

h1 {
    text-align: center;
}

header {
    text-align: center;
    font-size: xx-large;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  padding: 15px;
}

/** Image styling **/

img {
  max-width: 100%;
  height: auto;
}

/** The fonts used for the main texts and headers respectively **/

.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

/** Makes links white for easier readability and makes them turn gold when hovered over to make clear which link is selected **/
a {
  color: white;
}

a:hover {
  color: gold;
}

