body {
  font-family: lugrasimo-regular;
  margin: 0 auto;
  padding: 1rem;
  background: #111;
  color: #eee;
  text-align: center
}

p {
    font-size: x-large;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
    font-size: xx-large;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}
